@* customers Template File *@
@layout("customers") {
	
<table border="1">
     <thead>
       <tr>
         <th>@Messages("username")</th>
         <th>@Messages("age")</th>
         <th>@Messages("age")</th>
         <th>@Messages("Delete")</th>
       </tr>
    </thead>
    <tbody>
	@for(customer <-  Customers.all) {
	  <tr>
		<td>
		  @customer.username
		</td>
		<td>
		  @customer.age
		</td>
		<td>
		  <a href = @{"customers/deleteCustomer?username=" + customer.username}>Delete</a>
		</td>	
	  </tr>
	}
	 </tbody>
   </table>	
 <hr>
 <a href="@routes.Application.addCustomerView" >Add Customer</a>
}