@* customers Template File *@
@layout("customers") {
	
<table border="1">
     <thead>
       <tr>
         <th>@Messages("username")</th>
         <th>@Messages("age")</th>
         <th>@Messages("delete")</th>
         <th>@Messages("update")</th>
       </tr>
    </thead>
    <tbody>
	@for(customer <-  Customers.all) {
	  <tr>
		<td>
		  @customer.username
		</td>
		<td>
		  @customer.age
		</td>
		<td>
		  <a href = @{"customers/deleteCustomerForm/" + customer.username}>@Messages("delete")</a>
		</td>	
		<td>
		  <a href = @{"customers/updateCustomerForm/" + customer.username}>@Messages("update")</a>
		</td>	
	  </tr>
	}
	 </tbody>
   </table>	
 <hr>
 <a href="@routes.Application.addCustomerView" >Add Customer</a>
}